body {
    color: #000;
    background-color: #a6192e; 
    font: normal 100% Cambria,Georgia,"Times New Roman",Times,serif;
    line-height: 1.5em;
    margin: 0;
}

section {
    border: 1px solid black;
    background-color: beige;
}

.sec2 {
    color: red;
    font-size: 30;
    font-style: italic;
}
