body {
    color: #000;
    background-color: #a6192e; 
    font: normal 100% Cambria,Georgia,"Times New Roman",Times,serif;
    line-height: 1.5em;
    margin: 0;
}
header {
    position: relative;
    width: 100%;
    background-color: #3d3935;
    float: left;
    padding-bottom: 14px;
    padding-top: 16px;
}

.sec2 {
    width: 100%;
    float: left;
    padding: 0;
    background-color: #fff;
    box-shadow: 0 0 15px rgb(50 50 50 / 75%);
}
