body {
    background-color: #a6192e; 
}

#greyBackground{
    background-color: #3a2f31;
    padding-top: 25px;
    padding-bottom: 25px;
    width: 95%;
    margin: auto;
}

#whiteBox{
    background-color: white;
    display: flow-root;
    padding: 40px 15px 20px 15px;
}

#blueBackground{
    background-color:#dde1e8;
    padding: 10px 10px 20px 10px;
    width: 75%;
    overflow: hidden;
}

h3{
    color: bb3131;
}

#gradesTable, tr, td , th{
    border: 1px solid black;
    border-collapse: collapse;
    margin-bottom: 20px;
}

#gradesTable{
    width: 100%;
    text-align: left;
}

th{
    padding: 5px;
    background-color:#d4d4d4;
}

td{
    padding: 5px;
}

.redbutton{
    background-color:#bb3131;
    color: white;
    border-radius: 3px;
    border: none;
    padding: 8px 5px 8px 5px;
    min-width: 56px;
}

#resultButtons{
    float: right;
}

input[type=text]{
    width: 50px;
    height: 30px;
}